@keyframes filter-animation {
  0% {
    filter: invert(50%) sepia(75%) saturate(2500%) brightness(120%)
      contrast(120%) hue-rotate(0deg);
  }

  50% {
    filter: invert(50%) sepia(75%) saturate(2500%) brightness(120%)
      contrast(120%) hue-rotate(180deg);
  }

  100% {
    filter: invert(50%) sepia(75%) saturate(2500%) brightness(120%)
      contrast(120%) hue-rotate(360deg);
  }
}

.header {
  @apply z-30;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  padding-inline: var(--viewport-margin-inline);

  &.fixed {
    position: fixed;
  }

  &.sticky {
    position: sticky;
  }
}

.logoContainer {
  aspect-ratio: 5/1;
  block-size: 100%;
  display: grid;
  gap: 1rem;
  max-inline-size: 50vw;
  position: relative;

  .logoImage {
    animation: filter-animation 10s infinite;
    filter: invert(50%) sepia(75%) saturate(2500%) brightness(120%)
      contrast(120%) hue-rotate(360deg);
  }
}

.actionsMenu {
  @apply gap-2 menu menu-horizontal justify-self-end;

  @media screen and (max-width: theme(screens.md.max)) {
    @apply hidden;
  }

  @media screen and (min-width: theme(screens.lg.min)) {
    @apply gap-4;
  }

  .action {
    @apply btn btn-ghost grid gap-2 grid-flow-col relative place-items-center;

    @media screen and (max-width: theme(screens.md.max)) {
      @apply btn-xs;
    }

    @media screen and (min-width: theme(screens.lg.min)) {
      /* @apply btn-lg btn-outline; */
    }

    .indicator {
      @apply absolute place-self-center indicator-item pt-2;
    }

    .actionsSubMenu {
      @apply glass;
    }
  }
}

.nav {
  @apply btn-group;

  @media screen and (max-width: theme(screens.lg.max)) {
    display: none;
  }

  .link {
    @apply btn btn-ghost;
  }
}
