@keyframes filter-animation {
  0% {
    filter: invert(50%) sepia(75%) saturate(2500%) brightness(120%) contrast(120%) hue-rotate(0deg);
  }
  
  50% {
    filter: invert(50%) sepia(75%) saturate(2500%) brightness(120%) contrast(120%) hue-rotate(180deg);
  }
  
  100% {
    filter: invert(50%) sepia(75%) saturate(2500%) brightness(120%) contrast(120%) hue-rotate(360deg);
  }
}

.header {
  @apply z-30;
  /* align-items: center; */
  /* contain: content; */
  /* display: grid; */
  /* gap: 1rem; */
  /* grid-auto-flow: column; */
  /* justify-content: space-between; */
  /* padding: 1rem 2.5rem; */
  /* top: 0; */
  /* width: 100%; */

  &.fixed {
    position: fixed;
  }

  &.sticky {
    position: sticky;
  }
}

.logoContainer {
  aspect-ratio: 5/1;
  display: grid;
  gap: 1rem;
  position: relative;
  width: 40vw;

  @media screen and (min-width: theme(screens.md.min)) {
    width: 25vw;
  }

  .logoImage {
    animation: filter-animation 10s infinite;
    filter: invert(50%) sepia(75%) saturate(2500%) brightness(120%) contrast(120%) hue-rotate(360deg);
  }
}

.menu {
  @apply gap-2;

  @media screen and (min-width: theme(screens.lg.min)) {
    @apply gap-4;
  }
}

.nav {
  display: none;
  gap: 3rem;
  grid-auto-flow: column;
  justify-content: center;

  @media screen and (min-width: theme(screens.lg.min)) {
    display: grid;
  }

  @media screen and (max-width: theme(screens.sm.max)) {
    order: -1;
  }
}
