@tailwind base;

@layer base {
  :root {
    --color-button: theme(colors.white);
    --color-button-background: theme(colors.gray.600);
    --color-input: theme(colors.black);
    --color-input-background: theme(colors.white);
    --color-feedback-invalid-background: theme(colors.gray.600);
    --color-feedback-invalid-border: theme(colors.gray.600);
    --color-feedback-valid-background: theme(colors.gray.600);
    --color-feedback-valid-border: theme(colors.gray.600);
  }
}
