/* Attach the animation using an anonymous Scroll Progress Timeline */
.root {
  animation: linear grow-progress forwards;
  animation-timeline: --page-scroll;
  background: theme(colors.hotPink);
  height: 0.1rem;
  left: 0;
  position: fixed;
  top: 0;
  transform-origin: 0 50%;
  width: 100%;
  z-index: theme(zIndex.50);

  @supports not (animation-timeline: view()) {
    display: none;
  }
}

@supports (animation-timeline: view()) {
  @keyframes grow-progress {
    from {
      transform: scaleX(0);
    }

    to {
      transform: scaleX(1);
    }
  }
}
