.drawerContent {
  @apply relative;
  perspective: 10px;
}

.main {
  @apply gap-8 grid;
  transform-style: preserve-3d;
}

.header {
  @apply gap-8 grid h-[50vh] w-screen justify-items-center relative content-start;
  padding-block-start: calc(var(--viewport-margin-block) * 2);
  transform-style: preserve-3d;

  @media screen and (min-width: theme(screens.md.min)) {
    @apply content-center;
  }

  .title {
    @apply text-xl;
  }

  .figure {
    @apply z-0;
    height: 100%;
    inset: 0;
    top: -100%;
    transform-style: preserve-3d;

    .image {
      object-fit: cover;
      transform: translateZ(-10px) scale(2);
      transform-origin: top;
    } 
  }

  .figure,
  .foreground {
    position: absolute;
    width: 100%;
  }

  .foreground {
    @apply z-10;
    background-image: linear-gradient(0deg, hsl(var(--b1)) 25%, rgba(0,0,0,0) 60%);
    bottom: -37.5%;
    height: 50%;
    transform: translateZ(-5px) scale(1.5);
  }

  .card {
    @apply z-20;

    .inputGroup {
      @apply max-w-sm;
    }
  }
}

.collectionsList {
  @apply grid gap-8 grid-cols-2 items-center relative pb-8;
  padding-inline: var(--viewport-margin-inline);

  @media screen and (min-width: theme(screens.md.min)) {
    @apply grid-cols-4;
  }

  .card {
    @apply border-8 glass;

    .figure {

      .figcaption {
        @apply p-4 text-center;
      }

      .imageContainer {
        @apply aspect-3/4 relative;

        .image {
          @apply aspect-3/4  object-cover;
        }
      }
    }
  }
}

