.drawerContent {
  @apply relative;
  perspective: 10px;
  top: -10%;
}

.main {
  @apply gap-8 grid;
  transform-style: preserve-3d;
}

.header {
  @apply gap-8 grid sm:min-w-[100vw] min-h-[75vh] place-content-center justify-items-center p-16 relative;
  transform-style: preserve-3d;

  .background {
    height: 100%;
    transform: translateZ(-10px) scale(2);
  }

  .foreground {
    @apply z-50;
    background: linear-gradient(0deg, hsl(var(--b1)) 25%, rgba(0,0,0,0) 60%);
    height: 50%;
    transform: translateY(175%) translateZ(-5px) scale(1.5);
  }

  .background,
  .foreground {
    position: absolute;
    width: 100%;
    object-fit: cover;
    z-index: -1;
  }

  .inputGroup {
    @apply max-w-sm;
  }
}

.collectionsList {
  @apply grid gap-8 sm:gap-16 gap-y-16 grid-cols-2 items-center relative;
  padding-block: var(--viewport-margin-block);
  padding-inline: var(--viewport-margin-inline);

  @media screen and (min-width: theme(screens.md.min)) {
    @apply grid-cols-4;
  }

  .card {
    /* @apply bg-primary border-8 border-primary text-primary-content; */
    @apply border-8 glass;

    .figure {

      .figcaption {
        @apply p-4 text-center;
      }

      .imageContainer {
        @apply aspect-3/4 relative;

        .image {
          @apply aspect-3/4  object-cover;
        }
      }
    }
  }
}

