# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/
.pnp
.pnp.js

# testing
coverage/
.playwright

# Next.js
.next/
out/

# production
**/build/
**/dist/

# misc
.DS_Store
*.pem
*.tmp

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
turbo-*.log

# local env files
.env*
!.env.example

# Vercel
.vercel/

# TypeScript
*.tsbuildinfo
next-env.d.ts
.env*.local

# PWA and sitemap
**/public/sitemap-*.xml
**/public/sitemap.xml
**/public/sw.js
**/public/sw.js.map
**/public/workbox-*.js
**/public/workbox-*.js.map
**/public/worker-*.js

# Storybook
storybook-static
.vercel
.turbo

# Madge
graph.svg