@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    --logo-badge-width: theme(size[20]);
    --messaging-font-size: theme(fontSize.xs);
    --messaging-margin-block-end: 0;
    --messaging-margin-block-start: 0;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }

  :root {
    --Navbar-height: 4.625rem;
  }

  * {
    @apply border-dark dark:border-light;
    text-underline-offset: theme(textUnderlineOffset.4);
  }

  html {
    scroll-behavior: smooth;
/*
    &::before,
    &::after {
      content: "";
      height: 50vh;
      position: fixed;
      width: 100vw;
      z-index: -1;
    }

    &::before {
      top: 0;
      height: 4.5rem;
      background-color: theme(colors.hotPink);
    }

    &::after {
      bottom: 0;
      height: calc(100dvh - 4.5rem);
      background-color: theme(colors.black);
    }
*/
  }

  @supports (font: -apple-system-body) and (-webkit-appearance: none) {
    img[loading="lazy"] {
      clip-path: inset(0.6px);
    }
  }

  a,
  button {
    @apply cursor-pointer border-none outline-none;

    &:has(> img, > figure) {
      @apply focus-visible:outline-stateFocus focus-visible:ring-stateFocus focus-visible:outline-dashed focus-visible:outline-2;
    }

    &:has(> .icon:only-child),
    &.icon-container {
      @apply focus-visible:fill-stateFocus focus-visible:stroke-stateFocus focus-visible:text-stateFocus;
    }

    &:hover {
      @apply !text-stateHover;
    }
  }

  a {
    @apply hover:stroke-stateHover hover:text-stateHover focus-visible:stroke-stateFocus focus-visible:text-stateFocus transition-colors;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
  }

  input {
    --tw-ring-color: theme(ringColor.stateFocus) !important;

    &:focus {
      @apply !border-stateFocus;
    }

    &:hover {
      @apply !border-stateHover;
    }
  }

  .bg-opaque-white {
    @apply bg-light/95 lg:backdrop-blur lg:backdrop-saturate-200;
  }
}

@layer components {
  .field {
    @apply relative grid items-center;
  }

  button {
    letter-spacing: inherit;
  }

  .btn {
    @apply grid place-items-center text-center uppercase tracking-widest transition-all ease-in-out;

    &[disabled] {
      @apply cursor-not-allowed decoration-2;
    }

    &.btn-outline {
      @apply hover:!bg-stateHover/20 hover:!outline-stateHover;
      @apply focus-visible:!bg-stateFocus/20 focus-visible:!outline-stateFocus;
    }

    &:not(.btn-outline) {
      @apply hover:!text-stateHover focus-visible:!text-stateFocus;
    }

    &.btn-bg {
      &.btn-outline {
        @apply hover:!bg-stateHover/80 focus-visible:!bg-stateFocus/80;
      }

      &:not(.btn-outline) {
        @apply hover:!bg-stateHover hover:!text-light focus-visible:!bg-stateFocus focus-visible:!text-light;
      }
    }
  }

  .btn-primary {
    @apply text-dark dark:text-light outline outline-transparent;

    &[disabled] {
      @apply text-dark/50 dark:text-light/50;
    }

    &.btn-outline {
      @apply outline-dark dark:outline-light;

      &[disabled] {
        @apply outline-dark/50 dark:outline-light/50;
      }
    }

    &.btn-bg {
      @apply bg-dark text-light dark:bg-light dark:text-dark;

      &[disabled] {
        @apply bg-dark/50 dark:bg-light/50;
      }
    }
  }

  .btn-secondary {
    @apply text-hotGreen outline outline-transparent;

    &[disabled] {
      @apply text-hotGreen/50;
    }

    &.btn-outline {
      @apply outline-hotGreen;

      &[disabled] {
        @apply outline-hotGreen/50;
      }
    }

    &.btn-bg {
      @apply bg-hotGreen text-dark;

      &[disabled] {
        @apply bg-hotGreen/50;
      }
    }
  }

  .btn-rounded {
    @apply rounded-full p-3;
  }

  .btn-xs {
    @apply px-2 py-1 text-xs;
  }

  .btn-sm {
    @apply px-3 py-1 text-sm;
  }

  .btn-base {
    @apply px-6 py-2 text-base;
  }

  .btn-lg {
    @apply px-12 py-4 text-lg;
  }
}

@layer utilities {
  .icon {
    @apply transition-all duration-300 ease-in-out hover:scale-110;
    gap: theme(gap[0.5]);
  }

  .loading {
    @apply !outline-stateFocus [&_>_*]:text-dark relative;

    span {
      @apply relative z-10;
    }

    &::before {
      @apply from-stateFocus/5 via-stateFocus/10 to-stateFocus/5 absolute inset-0 z-0 animate-pulse bg-gradient-to-r;
      content: "";
      background-size: 500%;
    }
  }

  .min-h-fullMinusNavbar {
    @apply min-h-[calc(100dvh-var(--Navbar-height))];
  }

  .h-fullMinusNavbar {
    @apply h-[calc(100dvh-var(--Navbar-height))];
  }

  .ghost-scrollbar {
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
  }

  .ghost-scrollbar::-webkit-scrollbar {
    /* WebKit */
    width: 0;
    height: 0;
  }

  @counter-style repeating-emoji {
    system: cyclic;
    symbols: "\2764";
    suffix: " ";
  }

  .heart-list {
    list-style-type: repeating-emoji;
    list-style-position: inside;
  }

  .prose {
    @apply break-words md:break-normal;

    & table {

      & tr {
        & td,
        & th {
          @apply p-2;
        }
      }

      &.limit-mobile-columns {
        & tr {
          & :nth-child(n + 3 of td, th) {
            display: none;
          }
        }
      }
    }
  }

  @keyframes move {
    100% {
      transform: translateX(calc(-100% + 100dvw));
      left: 0px;
    }
  }
}
