@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --Navbar-height: 4.625rem;
}

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading="lazy"] {
    clip-path: inset(0.6px);
  }
}

@layer base {
  * {
    @apply border-dark dark:border-light;
    text-underline-offset: theme(textUnderlineOffset.4);
  }

  html {
    scroll-behavior: smooth;
  }

  a,
  button {
    @apply cursor-pointer border-none outline-none;

    &:has(> img, > figure) {
      @apply focus-visible:outline-stateFocus focus-visible:ring-stateFocus focus-visible:outline-dashed focus-visible:outline-2;
    }

    &:has(> .icon:only-child),
    &.icon-container {
      @apply focus-visible:fill-stateFocus focus-visible:stroke-stateFocus focus-visible:text-stateFocus;
    }
  }

  a {
    @apply hover:stroke-stateHover hover:text-stateHover focus-visible:stroke-stateFocus focus-visible:text-stateFocus transition-colors;
  }

  input {
    --tw-ring-color: theme(ringColor.stateFocus) !important;

    &:focus {
      @apply !border-stateFocus;
    }

    &:hover {
      @apply !border-stateHover;
    }
  }
}

@layer components {
  .navbar-global {
    min-height: var(--Navbar-height);
  }

  .field {
    @apply relative grid items-center;
  }

  button {
    letter-spacing: inherit;
  }

  .btn {
    @apply grid place-items-center text-center uppercase tracking-widest transition-all ease-in-out;

    &[disabled] {
      @apply cursor-not-allowed decoration-2;
    }

    &.btn-outline {
      @apply hover:!bg-stateHover/20 hover:!outline-stateHover;
      @apply focus-visible:!bg-stateFocus/20 focus-visible:!outline-stateFocus;
    }

    &:not(.btn-outline) {
      @apply hover:!text-stateHover focus-visible:!text-stateFocus;
    }

    &.btn-bg {
      &.btn-outline {
        @apply hover:!bg-stateHover/80 focus-visible:!bg-stateFocus/80;
      }

      &:not(.btn-outline) {
        @apply hover:!bg-stateHover hover:!text-light focus-visible:!bg-stateFocus focus-visible:!text-light;
      }
    }
  }

  .btn-primary {
    @apply text-dark dark:text-light outline outline-transparent;

    &[disabled] {
      @apply text-dark/50 dark:text-light/50;
    }

    &.btn-outline {
      @apply outline-dark dark:outline-light;

      &[disabled] {
        @apply outline-dark/50 dark:outline-light/50;
      }
    }

    &.btn-bg {
      @apply bg-dark text-light dark:bg-light dark:text-dark;

      &[disabled] {
        @apply bg-dark/50 dark:bg-light/50;
      }
    }
  }

  .btn-secondary {
    @apply text-hotGreen outline outline-transparent;

    &[disabled] {
      @apply text-hotGreen/50;
    }

    &.btn-outline {
      @apply outline-hotGreen;

      &[disabled] {
        @apply outline-hotGreen/50;
      }
    }

    &.btn-bg {
      @apply bg-hotGreen text-dark;

      &[disabled] {
        @apply bg-hotGreen/50;
      }
    }
  }

  .btn-rounded {
    @apply rounded-full p-3;
  }

  .btn-xs {
    @apply px-2 py-1 text-xs;
  }

  .btn-sm {
    @apply px-3 py-1 text-sm;
  }

  .btn-base {
    @apply px-6 py-2 text-base;
  }

  .btn-lg {
    @apply px-12 py-4 text-lg;
  }

  .page {
    & [data-color="black"] {
      @apply text-black;
    }

    & [data-color="white"] {
      @apply text-white;
    }

    & [data-color="hotGreen"] {
      @apply text-hotGreen;
    }

    & [data-color="hotOrange"] {
      @apply text-hotOrange;
    }

    & [data-color="hotPink"] {
      @apply text-hotPink;
    }

    & [data-color="slate-200"] {
      @apply text-slate-200;
    }

    & [data-color="slate-400"] {
      @apply text-slate-400;
    }

    & [data-color="slate-600"] {
      @apply text-slate-600;
    }

    & [data-color="slate-800"] {
      @apply text-slate-800;
    }

    & .section {
      @apply bg-cover grid min-h-[100dvh] pb-16;

      &:first-child {
        @apply min-h-fullMinusNavbar;
      }

      &[data-layout="single-module-full-bleed"] {
        @apply place-content-center;
      }
    }

    & .module {
      &[data-layout="hero-title-sub-title-and-text"] {
        @apply grid place-content-center gap-8 m-8 max-w-3xl;

        & h2 {
          @apply text-7xl;
        }
      }
    }
  }

  .policy {
    &:has(img) {
      & article {
        @apply relative;
      }

      & .service-main-title {
        color: theme(textColor.white);
        inset-block-start: theme(inset.4);
        inset-inline-start: theme(inset.4);
        position: absolute;
      }

      @screen md {
        display: grid;
        justify-content: end;

        & img {
          aspect-ratio: 13/21;
          inset-block: 0;
          inset-inline-start: 0;
          min-height: 100%;
          object-fit: cover;
          object-position: center;
          position: fixed;
          width: 38.1967%;
        }

        & article {
          inset-block: 0;
          inset-inline-end: 0;
          min-height: 100%;
          overflow-y: auto;
          width: 61.8033%;
        }

        & .service-main-title {
          color: inherit;
          position: static;
        }
      }
    }
  }
}

@layer utilities {
  .icon {
    @apply transition-all duration-300 ease-in-out hover:scale-110;
    gap: theme(gap[0.5]);
  }

  .loading {
    @apply !outline-stateFocus [&_>_*]:text-dark relative;

    span {
      @apply relative z-10;
    }

    &::before {
      @apply from-stateFocus/5 via-stateFocus/10 to-stateFocus/5 absolute inset-0 z-0 animate-pulse bg-gradient-to-r;
      content: "";
      background-size: 500%;
    }
  }

  .min-h-fullMinusNavbar {
    @apply min-h-[calc(100dvh-var(--Navbar-height))];
  }

  @keyframes move {
    100% {
      transform: translateX(calc(-100% + 100dvw));
      left: 0px;
    }
  }
}
