.root {
  @apply relative snap-y scroll-smooth;

  @media screen and (max-width: theme(screens.sm.max)) {
    /* @NOTE: 133.33vw is equivalent to the 3/4 aspect ratio of the images in the gallery */
    /* @NOTE: 4rem is equivalent to the pt-16 and scroll-pt-16 values to offset the image below the header */
    max-block-size: max(
      calc(133.33vw + var(--viewport-margin-block)),
      75vh
    );
    overflow-y: scroll;
  }

  @media screen and (min-width: theme(screens.md.min)) {
    @apply grid;
  }
}

.stepsContainer {
  @apply sticky z-10;
  height: 0;
  overflow: visible;
  padding-inline-start: var(--viewport-margin-inline);
  top: 50%;

  .steps {
    transform: translateY(-50%);

    .step {
      &::after,
      &::before {
        @apply duration-300;
        transition-property: background-color, color;
      }
    }

    a {
      cursor: pointer;
    }
  }
}

.figure {
  @apply aspect-3/4 snap-start;
  max-inline-size: 100%;
  position: relative;

  @media screen and (max-width: theme(screens.sm.max)) {
    @supports (inline-size: 100dvw) {
      inline-size: 100dvw;
    }

    @supports not (inline-size: 100dvw) {
      inline-size: calc(
        100vw - (env(safe-area-inset-left) + env(safe-area-inset-right))
      );
    }
  }

  &:global(.fullscreen) {
    background-color: red;
  }

  &.model {
    background-color: hsl(var(--b2));
    contain: strict;
  }

  .image {
    @apply object-cover;
  }

  .figcaption {
    display: none;
  }
}
