.article {
    --padding-card: 0.5rem;
}

.body {
    padding: unset;
}

.link {

}

.figure {
    @apply aspect-2/3 relative;
}

.image {
    
}

.cardBody {
    padding-inline: unset;

    .header {
        .heading {
        @apply font-normal text-base;
        }

        .price {
            @apply text-sm;
        }
    }
}