.container {
  display: grid;
  gap: 1rem;
  min-height: 100vh;

  &.show_header_and_footer {
    grid-template-rows: auto 1fr auto;
  }  
}

.main {
  &.constrain_width {
    justify-self: center;
    max-block-size: 60rem;
    min-block-size: 60rem;
  }
}
