.form {
  align-content: end;
  display: grid;
  gap: theme(gap[0.5]);

  &.valid {
    & :is(button, input, select, textarea) {
      opacity: 0;
      pointer-events: none;
    }
  }
}

.field {
  display: grid;
  gap: theme(gap[0.5]);
}

.label {
  display: none;
}

.input {
  text-align: center;

  &::placeholder {
    color: theme(colors.white);
  }
}

.button {
  color: theme(colors.white);
  padding: theme(padding.2);
}



.output {
  align-items: end;
  background-color: theme(backgroundColor.black);
  background-image: url("/images/MAV07179.jpeg");
  background-size: cover;
  display: grid;
  font-size: theme(fontSize.base);
  gap: 1rem;
  grid-column: -1/1;
  inset: 0;
  justify-items: center;
  padding: 2rem;
  position: fixed;
  text-align: center;
  text-transform: lowercase;
  transition-duration: theme(transitionDuration.150);
  transition-property: background-color, opacity;
  transition-timing-function: theme(transitionTimingFunction.in-out);
  z-index: theme(zIndex.30);

  @screen md {
    font-size: theme(fontSize.4xl);
  }
}

.container {
  display: grid;
  filter: drop-shadow(2px 4px 6px rgba(0,0,0,0.2));
  inline-size: min(30rem, 50%);
}

.title {
  filter: drop-shadow(2px 4px 6px rgba(0,0,0,0.2));
  font-family: var(--font-bomber-escort-outline-italic);
  font-size: 10vw;
  font-style: italic;
  line-height: theme(lineHeight.none);
  text-align: center;
  z-index: theme(zIndex.20);
}