
.form {
  align-content: end;
}

.valid {
  & :is(button, input, select, textarea, div) {
    display: none;
    opacity: 0;
    pointer-events: none;
  }
}

.uniformHeight {
  min-block-size: max(20vh, 16rem);
}