/* .form {
  @apply gap-4;
  align-content: end;
  display: grid;
  min-block-size: max(20vh, 16rem);
  padding-inline: 2rem;
  width: 100%;
}

.field {
  @apply gap-4;
  display: grid;
  grid-auto-flow: row;
  gap: 1rem;
} */

.label {
  @apply sr-only;
}

.valid {
  & :is(button, input, select, textarea, div) {
    display: none;
    opacity: 0;
    pointer-events: none;
  }
}

.invalid {

}
