.nav {
  padding-block-start: calc(var(--viewport-margin-block-start) * 3);
  padding-inline: var(--viewport-margin-inline);
}

.main {
  @apply grid gap-4 grid-cols-4;
  padding-block-start: calc(var(--viewport-margin-block-start) * 3);
  padding-inline: var(--viewport-margin-inline);
}

.productCard {

  @media screen and (min-width: theme(screens.md.min)) {

  }
}

.title {

}

.copy {
  
}