.main {
  @apply gap-8 grid;
  margin-block: var(--header-height-offset-level-0);
  padding-block-start: var(--viewport-padding-block);
  padding-inline: var(--viewport-margin-inline-small);

  @media screen and (min-width: theme(screens.md.min)) {
    @apply gap-16 grid-cols-2;
  }
}

.figure {
  @apply relative;
}
