.article {
  @apply grid;

  @media screen and (min-width: theme(screens.md.min)) {
    grid-template-columns: 2fr 2fr;
  }

  @media screen and (min-width: theme(screens.lg.min)) {
    grid-template-columns: 3fr 2fr;
  }

  .gallery {
    .steps {
      @apply sticky z-10;
      padding-inline-start: var(--viewport-margin-inline);
      top: 50%;
      transform: translateY(-50%);
      overflow: visible;
    }

    .figure {
      @apply snap-start;
      aspect-ratio: 3/4;
      position: relative;
      width: 100%;

      &:global(.fitViewport) {
        background-color: red;
      }

      &.model {
        background-color: hsl(var(--b2));
        contain: strict;
        min-block-size: min(50vh, 40rem);
      }

      .image {
      }

      .figcaption {
        display: none;
      }
    }

    &.galleryFeatured {
      @apply bg-white grid snap-y;
      padding-block-start: var(--viewport-margin-block-start);
      scroll-padding-block-start: var(--viewport-margin-block-start);
      scroll-behavior: smooth;

      @media screen and (max-width: theme(screens.sm.max)) {
        @apply overflow-y-auto;
        /* max-block-size: 75vh; */
        /* @NOTE: 133.33vw is equivalent to the 3/4 aspect ratio of the images in the gallery */
        /* @NOTE: 4rem is equivalent to the pt-16 and scroll-pt-16 values to offset the image below the header */
        max-block-size: calc(133.33vw + 4rem);
      }

      @media screen and (min-width: theme(screens.md.min)) {
        
      }
    }

    &.galleryAdditional {
      @apply col-span-full grid grid-cols-2 gap-1 mt-1;
    }
  }

  .stickyContainer {
    .details {
      @apply grid sticky divide-y;
      padding-inline: var(--viewport-margin-inline);
      top: 0;

      @media screen and (min-width: theme(screens.md.min)) {
        @apply pb-16 pt-24;
      }

      @media screen and (min-width: theme(screens.lg.min)) {
        @apply pb-24 pt-44;
      }

      .header {
        @apply pt-4 grid grid-flow-col gap-4 items-center;

        @media screen and (min-width: theme(screens.md.min)) {
          @apply py-6;
        }

        .categoryLink {
          display: none;
        }

        .heading {
        }

        .price {
        }

        .description {
        }
      }

      .section {
        &.sectionActions {
          @apply grid align-middle grid-flow-col justify-between gap-8 px-4 py-6;
        }

        &.sectionDescription {
          @apply py-6;
        }
      }

      .title {
      }

      .copy {
      }
    }
  }
}

.aside {
  display: none;
}
