.article {
  @apply grid grid-cols-2 overflow-auto;
}

.gallery {
  @apply grid overflow-auto;

  .figure {
    aspect-ratio: 3/4;
    position: relative;
    width: 100%;
    
    &:has(.model) {
      background-color: rgb(235, 235, 235);
      height: 50vh;
    }
 
    &:global(.fitViewport) {
      background-color: red;
    }

    .image {
      
    }

    /* .model {
      background-color: rgb(235, 235, 235);
    } */
  }
}

.details {
  @apply grid overflow-auto;

  /* @apply sticky; */
  /* bottom: 100vh; */

  .title {

  }

  .copy {
    
  }
}