.article {
  @apply grid grid-cols-2;

  .gallery {
    @apply grid;

    .figure {
      aspect-ratio: 3/4;
      position: relative;
      width: 100%;

      &:global(.fitViewport) {
        background-color: red;
      }

      &.model {
        background-color: rgb(235, 235, 235);
        /* background-color: red; */
        min-block-size: min(50vh, 40rem);
      }

      .image {
      }
    }
  }

  .stickyContainer {
    .details {
      @apply grid sticky;
      top: 0;

      .header {
        color: blue;
        .heading {
          color: red;
        }
      }

      .title {
      }

      .copy {
      }
    }
  }
}

.aside {
  min-block-size: 50vh;
}
