@tailwind base;
@tailwind components;
@tailwind utilities;

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading="lazy"] {
    clip-path: inset(0.6px);
  }
}

@layer base {
  * {
    @apply border-dark dark:border-light;
    text-underline-offset: theme(textUnderlineOffset.4);
  }

  /* Create scroll-timeline on the root */
  html {
    scroll-behavior: smooth;
    scroll-timeline: --page-scroll block;
  }

  a,
  button {
    @apply cursor-pointer border-none outline-none;

    &:has(> img, > figure) {
      @apply focus-visible:outline-dashed focus-visible:outline-2 focus-visible:outline-aaaFocus focus-visible:ring-aaaFocus;
    }

    &:has(> .icon:only-child),
    &.icon-container {
      @apply focus-visible:fill-aaaFocus focus-visible:stroke-aaaFocus focus-visible:text-aaaFocus;
    }
  }

  a {
    @apply transition-colors hover:stroke-aaaHover hover:text-aaaHover focus-visible:stroke-aaaFocus focus-visible:text-aaaFocus;
  }

  input {
    --tw-ring-color: theme(ringColor.aaaFocus) !important;

    &:focus {
      @apply !border-aaaFocus;
    }

    &:hover {
      @apply !border-aaaHover;
    }
  }
}

@layer components {
  .field {
    @apply relative grid items-center;
  }

  button {
    letter-spacing: inherit;
  }

  .btn {
    @apply grid place-items-center text-center uppercase tracking-widest transition-all ease-in-out;
    @apply focus-visible:outline-offset-0 focus-visible:ring-0;

    &[disabled] {
      @apply cursor-not-allowed decoration-2;

      &:not(.loading) {
        @apply line-through decoration-error;
      }
    }

    &.btn-outline {
      @apply hover:!bg-aaaHover/20 hover:!outline-aaaHover;
      @apply focus-visible:!bg-aaaFocus/20 focus-visible:!outline-aaaFocus;
    }

    &:not(.btn-outline) {
      @apply hover:!text-aaaHover focus-visible:!text-aaaFocus;
    }

    &.btn-bg {
      &.btn-outline {
        @apply hover:!bg-aaaHover/20 focus-visible:!bg-aaaFocus/20;
        @apply hover:!text-aaaHover focus-visible:!text-aaaFocus;
      }

      &:not(.btn-outline) {
        @apply hover:!bg-aaaHover hover:!text-dark focus-visible:!bg-aaaFocus focus-visible:!text-dark;
      }
    }
  }

  .btn-primary {
    @apply text-dark outline outline-transparent dark:text-light;

    &[disabled] {
      @apply text-dark/50 dark:text-light/50;
    }

    &.btn-outline {
      @apply outline-dark dark:outline-light;

      &[disabled] {
        @apply outline-dark/50 dark:outline-light/50;
      }
    }

    &.btn-bg {
      @apply bg-dark text-light dark:bg-light dark:text-dark;

      &[disabled] {
        @apply bg-dark/50 dark:bg-light/50;
      }
    }
  }

  .btn-secondary {
    @apply text-hotGreen outline outline-transparent;

    &[disabled] {
      @apply text-hotGreen/50;
    }

    &.btn-outline {
      @apply outline-hotGreen;

      &[disabled] {
        @apply outline-hotGreen/50;
      }
    }

    &.btn-bg {
      @apply bg-hotGreen text-dark;

      &[disabled] {
        @apply bg-hotGreen/50;
      }
    }
  }

  .btn-rounded {
    @apply rounded-full p-3;
  }

  .btn-xs {
    @apply px-2 py-1 text-xs;
  }

  .btn-sm {
    @apply px-3 py-1 text-sm;
  }

  .btn-base {
    @apply px-6 py-2 text-base;
  }

  .btn-lg {
    @apply px-12 py-4 text-lg;
  }

  .pin {
    min-height: 100dvh;
    width: 100%;
    max-width: 100dvw;
    overflow-x: hidden;
    position: relative;
  }

  .pin-wrap-sticky {
  }

  .pin-wrap {
    height: 100dvh;
    display: grid;
    align-items: stretch;
    /* grid-template-columns: repeat(4, auto); */
    justify-items: center;
  }

  @supports not (animation-timeline: view()) {
    .pin-wrap-sticky {
      overflow-x: auto;
    }
  }

  @supports (animation-timeline: view()) {
    @keyframes move {
      to {
        /* Move horizontally so that right edge is aligned against the viewport */
        transform: translateX(calc(-100% + 100dvw));
        left: 0px;
      }
    }

    .pin {
      /* Stretch it out, so that we create room for the horizontal scroll animation */
      height: 400dvh;
      overflow: visible; /* To make position sticky work … */

      view-timeline-name: --section-pin-tl;
      view-timeline-axis: block;
    }

    .pin-wrap-sticky {
      /* Stick to Top */
      height: 100dvh;
      width: 100dvw;
      overflow-x: hidden;
      position: sticky;
      top: 0;

      width: 100dvw;
      overflow-x: hidden;
    }

    .pin-wrap {
      height: 100dvh;
      width: 250vmax;

      /* Hook animation */
      will-change: transform;
      animation: linear move forwards;

      /* Link animation to view-timeline */
      animation-timeline: --section-pin-tl;
      animation-range: contain 0% contain 100%;
    }
  }

  .policy-page {
    &:has(img) {
      display: grid;
      justify-content: end;

      & img {
        aspect-ratio: 13/21;
        inset-block: 0;
        inset-inline-start: 0;
        min-height: 100%;
        object-fit: cover;
        object-position: center;
        position: fixed;
        width: 38.1967%;
      }

      & article {
        inset-block: 0;
        inset-inline-end: 0;
        min-height: 100%;
        overflow-y: auto;
        width: 61.8033%;
      }
    }
  }
}

@layer utilities {
  .icon {
    @apply transition-all duration-300 ease-in-out hover:scale-110;
    gap: theme(gap[0.5]);
  }

  .loading {
    @apply relative !outline-aaaFocus [&_>_*]:text-dark;

    span {
      @apply relative z-10;
    }

    &::before {
      @apply absolute inset-0 z-0 animate-pulse bg-gradient-to-r from-aaaFocus/5 via-aaaFocus/10 to-aaaFocus/5;
      content: "";
      background-size: 500%;
    }
  }

  @keyframes move {
    100% {
      transform: translateX(calc(-100% + 100dvw));
      left: 0px;
    }
  }
}
