@tailwind base;
@tailwind components;
@tailwind utilities;

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading='lazy'] {
    clip-path: inset(0.6px);
  }
}

@layer utilities {
  .icon {
    @apply transition-all duration-300 ease-in-out  hover:scale-110;
  }

  .pin {
    display: flex;
    overflow: scroll;
  }

  @supports (animation-timeline: view()) {
    .pin {
      block-size: 500vh;
      overflow: visible;
      view-timeline-name: --section-pin-tl;
      view-timeline-axis: block;
    }
  }

  @supports (animation-timeline: view()) {
    .pin-wrap-sticky {
      block-size: 100dvh;
      inline-size: 100dvw;
      inset-block-start: 0;
      overflow-x: hidden;
      position: sticky;
    }
  }

  .pin-wrap {
    align-items: center;
    aspect-ratio: 16/9;
    display: grid;
    /*
    gap: theme(gap.16);
    */
    gap: theme(gap[0.5]);
    grid-auto-flow: column;
    min-inline-size: 100dvw;
    padding-inline: unset;
    padding-inline: theme(padding.4);

    @screen sm {
    /*
      gap: theme(gap[0.5]);
    */
      padding-inline: theme(padding[0.5]);
    }

    @screen md {
      
    }

    & a {
      display: none;
      height: 100%;
      min-width: calc(100dvw - theme(padding.8));
      object-fit: cover;

      @screen sm {
        min-inline-size: calc(50dvw - theme(padding.1) - theme(gap[0.5]));
      }

      @screen md {
        min-width: unset;
      }

      &:nth-child(1),
      &:nth-child(2) {
        display: grid;
      }
    }
  }

  @supports (animation-timeline: view()) {
    .pin-wrap {
      animation: linear move forwards;
      animation-timeline: --section-pin-tl;
      animation-range: contain 0% contain 100%;
      block-size: 100dvh;
      will-change: transform;
    }
  }

  @keyframes move {
    100% {
      transform: translateX(calc(-100% + 100vw));
      left: 0px;
    }
  }
}
