@tailwind base;
@tailwind components;
@tailwind utilities;

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading='lazy'] {
    clip-path: inset(0.6px);
  }
}

@layer utilities {
  .pin {
    height: 100vh;
    display: flex;
    background: var(--text-color);
    color: var(--bg-color);
    overflow: scroll;
  }

  @supports (animation-timeline: view()) {
    .pin {
      height: 500vh;
      overflow: visible;
      view-timeline-name: --section-pin-tl;
      view-timeline-axis: block;
    }
  }

  @supports (animation-timeline: view()) {
    .pin-wrap-sticky {
      height: 100vh;
      overflow-x: hidden;
      position: sticky;
      top: 0;
      width: 100dvw;
      width: 100vw;
    }
  }

  .pin-wrap {
    align-items: center;
    display: grid;
    gap: theme(gap.32);
    grid-auto-flow: column;
    height: 100dvh;
    padding: 10dvh 10dvw;

    & h2 {
      font-size: 2rem;
    }

    & a {
      height: 100%;
      object-fit: cover;
    }
  }

  @supports (animation-timeline: view()) {
    .pin-wrap {
      animation: linear move forwards;
      animation-timeline: --section-pin-tl;
      animation-range: contain 0% contain 100%;
      height: 100dvh;
      will-change: transform;
    }
  }

  @keyframes move {
    100% {
      transform: translateX(calc(-100% + 100vw));
      left: 0px;
    }
  }
}
