.container {
  align-items: center;
  display: grid;
  grid-template-rows: 1fr auto;

  @media landscape {
    align-items: end;
  }
}

.copy {
  filter: drop-shadow(2px 4px 6px rgba(0,0,0,0.2));
  font-family: var(--font-bomber-escort);
  text-align: center;
  text-transform: lowercase;

  @screen landscape {
    font-size: theme(fontSize.3xl);
  }

  @screen portrait {
    font-size: theme(fontSize.2xl);
  }
}

.information {
  align-items: end;
  align-self: end;
  block-size: theme(height.32);
  display: grid;
  justify-items: center;
  padding: theme(padding.4);
  padding-block-end: theme(padding.40);
  position: relative;
  z-index: theme(zIndex.20);

  & .signupForm {
    align-content: start;
    display: grid;
    position: relative;
    z-index: theme(zIndex.20);
  }
}

.title {
  align-items: center;
  background-color: theme(backgroundColor.black);
  background-repeat: repeat;
  background-size: 100%;
  display: grid;
  filter: drop-shadow(2px 4px 6px rgba(0,0,0,0.2));
  font-family: Bomber Escort;
  font-family: var(--font-bomber-escort-outline-italic);
  font-size: 17vh;
  font-style: italic;
  height: 100%;
  line-height: theme(lineHeight.none);
  min-width: 20%;
  position: absolute;
  rotate: 180deg;
  text-orientation: mixed;
  writing-mode: vertical-lr;
  z-index: theme(zIndex.20);
}

.background {
  animation-duration: 240s;
  animation-iteration-count: infinite;
  animation-name: move-bg;
  animation-timing-function: linear;
  display: grid;
  grid-auto-flow: column;
  inline-size: calc(((100dvh / 4) * 3) * 6 * 2);
  inset: theme(inset.0);
  position: fixed;
  z-index: theme(zIndex.10);

  & .figure {
    aspect-ratio: theme(aspectRatio[3/4]);
    /* filter: brightness(0.9); */
    filter: contrast(1) saturate(1);
    position: relative;
    transition: filter 0.4s ease-in-out;

    &:focus,
    &:hover {
      filter: contrast(0.95) saturate(1.2);
    }

    & .image {
      object-fit: cover;
      object-position: bottom;
    }
  }
}

@keyframes move-bg {
  0% {
    translate: 0;
  }
  100% {
    translate: calc(100dvh * -6);
  }
}