.container {
  background-color: theme(backgroundColor.black);
  /* background-image: url("/images/textures/abstract009.jpg"); */
  background-size: 50%;
  display: grid;
  min-block-size: 100%;
  padding: theme(padding.8);

  @media landscape {
    align-items: end;
  }
}

.information {
  align-items: end;
  display: grid;
  justify-items: center;
  position: relative;
  z-index: theme(zIndex.20);

  & .copy {
    filter: drop-shadow(2px 4px 6px black);
    text-align: center;

    @screen landscape {
      font-size: theme(fontSize.6xl);
    }

    @screen portrait {
      font-size: theme(fontSize.4xl);
    }
  }

  & .signupForm {
    align-content: start;
    display: grid;
    inline-size: max(30%, 20rem);
    position: relative;
    z-index: theme(zIndex.20);
  }
}

.title {
  filter: drop-shadow(2px 4px 6px black);
  font-family: "Bomber Escort Outline Italic";
  font-size: 16.5vw;
  line-height: theme(lineHeight.none);
  text-align: center;
  z-index: theme(zIndex.20);
}

.background {
  animation-duration: 90s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  display: grid;
  grid-auto-flow: column;
  gap: theme(gap.16);
  inset-block: theme(inset.0);
  inset-inline-start: theme(inset.0);
  padding: theme(padding.16);
  padding-block-end: theme(padding.40);
  position: fixed;
  z-index: theme(zIndex.10);

  @screen landscape {
    animation-name: move-bg-landscape;
    inline-size: 200dvw;
  }

  @screen portrait {
    animation-name: move-bg-portrait;
    inline-size: 600dvw;
  }

  & .figure {
    position: relative;

    & .image {
      object-fit: contain;
      object-position: bottom;
    }
  }
}

@keyframes move-bg-landscape {
  0% {
    inset-inline-start: theme(inset.0);
  }
  100% {
    inset-inline-start: calc(theme(inset.8) - 100dvw);
  }
}

@keyframes move-bg-portrait {
  0% {
    inset-inline-start: theme(inset.0);
  }
  100% {
    inset-inline-start: calc(theme(inset.8) - 300dvw);
  }
}
