.container {
  align-content: space-evenly;
  background-color: theme(backgroundColor.black);
  display: grid;
  gap: theme(gap.4);
  block-size: 100%;
  justify-items: center;
}

.title {
  font-size: theme(fontSize.6xl);
}

.nav {
  color: theme(colors.white);
  display: grid;
  gap: theme(gap.8);
}
