.button {
  appearance: none;
  background-color: var(--tw-color-transparent);
  border: none;
  color: var(--tw-color-black);
  cursor: pointer;
  font: inherit;
}

@media (prefers-color-scheme: dark) {
  .button {
    color: var(--tw-color-white);
  }
}

.button__filled {
  /* background-color: var(--tw-color-purple-700); */
  /* background-color: rgb(from var(--tw-color-purple-700) r g b / 80%); */
  /* background-color: #0080FF80; */
  background-color: rgb(var(--color-primary) / 0.8);
  color: var(--tw-color-white);
  padding: 1rem;
}

.button__filled:focus,
.button__filled:hover {
  background-color: rgb(var(--color-primary) / 1);
}

.button__filled.disabled {
  background-color: rgb(var(--color-primary) / 0.4);
}

.button.hidden {
  display: none;
}
