.button {
  appearance: none;
  background-color: var(--tw-color-transparent);
  border: none;
  color: var(--tw-color-black);
  cursor: pointer;
  font: inherit;
}

@media (prefers-color-scheme: dark) {
  .button {
    color: var(--tw-color-white);
  }
}

.button__filled {
  background-color: var(--color-button-background);
  color: rgb(var(--color-button) / 0.8);
  padding-block: 1rem;
  padding-inline: 3rem;
}

.button__filled:focus,
.button__filled:hover {
  background-color: rgb(var(--color-button-background) / 1);
}

.button__filled.disabled {
  background-color: rgb(var(--color-button-background) / 0.4);
}

.button.hidden {
  display: none;
}
