@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-button: 255 255 255;
    --color-button-background: 100 100 100;
    --color-secondary: 255 115 179;
    --color-tertiary: 111 114 185;
    --color-input: 0 0 0;
    --color-input-background: 255 255 255;
    /* --color-feedback-valid-background: 0 75 0; */
    /* --color-feedback-valid-border: 0 255 0; */
    --color-feedback-invalid-background: 75 0 0;
    --color-feedback-invalid-border: 255 0 0;
    --color-feedback-valid-background: 0 0 0;
    --color-feedback-valid-border: 0 0 0;
  }
}
