:root {
  --viewport-margin-block-start: 4rem;
  --viewport-margin-inline: 1rem;

  @media screen and (min-width: theme(screens.md.min)) {
    --viewport-margin-inline: 2rem;
  }

  @media screen and (min-width: theme(screens.lg.min)) {
    --viewport-margin-inline: 4rem;
  }
}
