
/* reset */
form input,
form select,
form textarea,
form fieldset,
form optgroup,
form label {
  font-family: inherit;
  font-size: 100%;
  color: inherit;
  border: none;
  border-radius: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}
form label,
form legend {
  font-size: 0.825rem;
  margin-bottom: 0.5rem;
}
/* border, padding, margin, width */
form input,
form select,
form textarea,
.StripeElement {
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.9);
  padding: 0.75em 1rem;
}
form input:focus,
form select:focus,
form textarea:focus,
.StripeElement:focus {
  background-color: white;
  outline-style: solid;
  outline-width: thin;
  outline-color: gray;
  outline-offset: -1px;
}
form [type="text"],
form [type="email"],
.StripeElement {
  width: 100%;
}
form [type="button"],
form [type="submit"],
form [type="reset"] {
  width: auto;
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}
form [type="button"]:focus,
form [type="submit"]:focus,
form [type="reset"]:focus {
  outline: none;
}

form select {
  text-transform: none;
}

form {
  display: grid;
  gap: 1rem;

  &.transparent {
    & :is(button, input, select, textarea, fieldset, optgroup, output) {
      border-color: transparent;
      border-style: solid;
      border-width: 0.1rem;
      padding-block: 1rem;
      padding-inline: 1rem;
      text-transform: lowercase;
      transition-duration: 250ms;
      transition-property: background-color, border-color, box-shadow, color, filter, opacity;
    }

    .button {
      font-size: 0.875rem;
      line-height: 1.5rem;
    }

    .button__filled {
      background-color: rgb(var(--color-button-background) / 0.5);
      border-color: rgb(var(--color-button-background) / 0.25);
      color: rgb(var(--color-button) / 0.9);
      filter: drop-shadow(0rem 0.4rem 0.5rem var(--tw-color-black));
      /* box-shadow: 0rem 0.5rem 0.25rem 0.25rem rgba(0,0,0,1); */

      &:focus,
      &:hover {
        background-color: rgb(var(--color-button-background) / 0.85);
      }

      &.disabled {
        background-color: rgb(var(--color-button-background) / 0.5);
      }
    }

    label {
      color: var(--tw-color-white);
      font-size: 1rem;
    }

    & :is(input, select, textarea, optgroup) {
      background-color: rgb(var(--color-input-background) / 0.5);
      border-color: rgb(var(--color-input-background) / 0.75);
      color: rgb(var(--color-input) / 0.9);

      &::placeholder {
        color: rgb(var(--color-input) / 0.9);
      }

      &:focus,
      &:hover {
        background-color: rgb(var(--color-input-background) / 0.8);
      }
    }
  }

  output {
    background-color: transparent;
    color: var(--tw-color-white);
    grid-column: -1/1;
    padding: 1rem;
    text-align: center;
    text-transform: lowercase;

    &:not(.invalid, .valid) {
      display: none;
    }

    &.invalid {
      background-color: rgb(var(--color-feedback-invalid-background) / 0.5);
      /* border-color: rgb(var(--color-feedback-invalid-border) / 0.5); */
    }

    &.valid {
      background-color: rgb(var(--color-feedback-valid-background) / 0.5);
      /* border-color: rgb(var(--color-feedback-valid-border) / 0.5); */
      font-size: 2.75rem;
    }
  }

  fieldset {
    border: none;
    display: grid;
    gap: 1rem;
    padding: initial;
  }
}