@tailwind base;
@tailwind components;
@tailwind utilities;

@import "tailwindcss-colors-css-variables/css/tailwindcss-colors.css";
@import "./animations.css";
@import "./buttons.css";
@import "./forms.css";
@import "./icons.css";


* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html {
  color-scheme: light;
}
body {
  background-color: var(--tw-color-white);
  color: var(--tw-color-black);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    background-color: var(--tw-color-black);
    color: var(--tw-color-white);
  }
}