.page {
  padding-inline: var(--viewport-margin-inline);

  article {
    @apply prose;
    margin-block-start: var(--viewport-margin-block);
    padding-block: var(--viewport-margin-block);
    margin-inline: auto;

    dl {
      dt {
      }

      dd {
        margin-inline-start: 2ch;
      }
    }
  }
}
