.featuredMediaGallery {
  @apply bg-white;
  padding-block-start: var(--viewport-margin-block-start);
  scroll-padding-block-start: var(--viewport-margin-block-start);
}

.article {
  @apply grid;
  grid-template-columns: var(--grid-template-columns, unset);

  @media screen and (min-width: theme(screens.md.min)) {
    --grid-template-columns: 2fr 2fr;
  }

  @media screen and (min-width: theme(screens.lg.min)) {
    --grid-template-columns: 3fr 2fr;
  }
}