.featuredMediaGallery {
  @apply bg-white;
  padding-block-start: var(--viewport-margin-block-start);
  scroll-padding-block-start: var(--viewport-margin-block-start);
}

.article {
  @apply grid;
  grid-template-columns: var(--grid-template-columns, unset);

  @media screen and (min-width: theme(screens.md.min)) {
    --grid-template-columns: 2fr 2fr;
  }

  @media screen and (min-width: theme(screens.lg.min)) {
    --grid-template-columns: 3fr 2fr;
  }

  .galleryAdditional {
    @apply col-span-full grid gap-1 mt-1 relative;

    @media screen and (min-width: theme(screens.md.min)) {
      @apply grid-cols-2;
    }

    .figure {
      @apply snap-start;
      aspect-ratio: 3/4;
      max-inline-size: 100%;
      position: relative;
    
      @media screen and (max-width: theme(screens.sm.max)) {
        @supports (inline-size: 100dvw) {
          inline-size: 100dvw;
        }
    
        @supports not (inline-size: 100dvw) {
          inline-size: calc(
            100vw - (env(safe-area-inset-left) + env(safe-area-inset-right))
          );
        }
      }
    
      .figcaption {
        display: none;
      }
    }    
  }

  .stickyContainer {
    .details {
      @apply grid sticky divide-y;
      padding-inline: var(--viewport-margin-inline);
      top: 0;

      @media screen and (min-width: theme(screens.md.min)) {
        @apply pb-16 pt-24;
      }

      @media screen and (min-width: theme(screens.lg.min)) {
        @apply pb-24 pt-44;
      }

      .header {
        @apply grid grid-flow-col gap-4 items-center justify-between py-4 px-4;
        grid-template-areas:
          "categoryLink categoryLink"
          "title price";

        .categoryLink {
          grid-area: categoryLink;
        }

        .title {
          grid-area: title;
        }

        .price {
          grid-area: price;
        }
      }

      .section {
        @apply prose prose-xs max-w-none;

        &.sectionActions {
          @apply grid align-middle grid-flow-col justify-between gap-8 px-4 py-6;
        }

        &.sectionDescription {
          @apply px-4 py-6 text-justify;
        }
      }
    }
  }
}