@layer components {
  .btn-transparent {
    @apply btn-ghost;

    &[disabled] {
      --tw-bg-opacity: 0;
      background-color: transparent !important;
    }
  }

  .btn-primary {
    @apply border-neutral;
  }

  .input-transparent {
    &:focus {
      --tw-bg-opacity: 0;
      @apply outline-transparent;
    }
  }
}

.select-transparent {
  &:focus {
    --tw-bg-opacity: 0;
    @apply outline-transparent;
  }
}
