@layer components {
  .drawerContentOverflowY {
    overflow-y: auto !important;
  }

  .drawer-toggle {
    & ~ .drawer-side {
      & > .drawer-overlay.custom {
        --tw-bg-opacity: 1;
        background-color: hsl(var(--nf, var(--n)) / var(--tw-bg-opacity));
        cursor: pointer;
        grid-column-start: 1;
        grid-row-start: 1;
        opacity: 0;
        transition-duration: 300ms;
        transition-property: all;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        visibility: hidden;

        & + * {
          --tw-translate-x: -100%;
          grid-column-start: 1;
          grid-row-start: 1;
          transform: translate(var(--tw-translate-x), var(--tw-translate-y))
            rotate(var(--tw-rotate)) skewX(var(--tw-skew-x))
            skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
            scaleY(var(--tw-scale-y));
          transition-duration: 300ms;
          transition-property: all;
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          z-index: 10;
        }
      }
    }

    /* &:checked {
      & ~ .drawer-side {
        & > .drawer-overlay.custom {
          & + * {
            --tw-bg-opacity: 1;
            --tw-translate-x: 0;
          }
        }
      }
    } */

    &.cart {
      &:checked {
        & ~ .drawer-side {
          & > .drawer-overlay.cart {
            --tw-bg-opacity: 0.4;
            opacity: 0.999999;
            visibility: visible;

            & + .drawer-content.cart {
              --tw-translate-x: 0px;
              transform: translate(var(--tw-translate-x), var(--tw-translate-y))
                rotate(var(--tw-rotate)) skewX(var(--tw-skew-x))
                skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
                scaleY(var(--tw-scale-y));
            }
          }
        }
      }
    }

    &.navigation {
      &:checked {
        & ~ .drawer-side {
          & > .drawer-overlay.navigation {
            --tw-bg-opacity: 0.4;
            opacity: 0.999999;
            visibility: visible;

            & + .drawer-content.navigation {
              --tw-translate-x: 0px;
              transform: translate(var(--tw-translate-x), var(--tw-translate-y))
                rotate(var(--tw-rotate)) skewX(var(--tw-skew-x))
                skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
                scaleY(var(--tw-scale-y));
            }
          }
        }
      }
    }
  }
}
