@layer components {
  .form {
    & .output {
      align-content: center;
      /* align-items: center; */
      background-color: transparent;
      color: theme(colors.white);
      display: grid;
      gap: 1rem;
      grid-column: -1/1;
      padding: 1rem 3rem;
      text-align: center;
      text-transform: lowercase;

      @screen md {
        padding: 1rem 4rem;
      }

      &:not(.invalid, .valid) {
        display: none;
      }

      &.invalid {
        /* background-color: rgb(var(--color-feedback-invalid-background) / 0.9); */
        /* border-color: rgb(var(--color-feedback-invalid-border) / 0.5); */
      }

      &.valid {
        /* background-color: rgb(var(--color-feedback-valid-background) / 0.9); */
        /* border-color: rgb(var(--color-feedback-valid-border) / 0.5); */
        font-size: 1.5rem;

        @screen md {
          font-size: 2rem;
        }
      }
    }
  }
}