@layer components {
  [aria-roledescription="carousel"] {
    .reactSlideshowContainer {
    }

    .btn {
      &.nav {
        @media screen and (min-width: theme(screens.md)) {
          display: none;
        }
      }
    }

    .indicators {
      margin-block: 1rem;

      .paginationBullet {
        border: 1px var(--color-textBlack) solid;
        border-radius: 50%;
        display: inline-block;
        block-size: 9px;
        margin: 0 5px;
        inline-size: 9px;

        &.active {
          background-color: var(--color-textBlack);
        }

        &:only-child {
          display: none;
        }
      }
    }
  }
}
