.drawerContent {
  /* perspective: 80vh; */
}

.main {
  @apply grid scroll-smooth snap-y;
  /* transform-style: preserve-3d; */

  > * {
    @apply snap-start;
  }
}

.header {
  @apply grid items-center justify-items-center py-8 gap-8;
  grid-template-rows: max(5vh, 2vw) auto max(5vh, 2vw);
  gap: 2vw;
  padding-block: 2vw;

  .logotypeLink {
    @apply relative h-full w-full max-w-[50%];
  }

  .figure {
    @apply aspect-2/1 relative h-full overflow-hidden;
    min-width: 60vw;

    .link {
      @apply block relative h-full w-full;

      .link {
        @apply object-contain;
      }
    }
  }
}

.sectionGallery {
  .figure {
    @apply grid relative w-full;

    .link {
      @apply grid;

      .image {
        @apply object-cover;
      }
    }
  }

  &.wall {
    @apply grid grid-cols-2 gap-1 items-stretch;
    margin-block-start: var(--viewport-margin-block-start);

    @media screen and (min-width: theme(screens.sm.min)) {
      @apply grid-cols-4;
    }
  }

  &.parallax {
    @apply grid grid-cols-4 items-center justify-between justify-items-center py-24 gap-16;
    transform-style: preserve-3d;

    .figure {
      transform-style: preserve-3d;

      &:nth-child(1n) {
        .link {
          transform: translateZ(-50px);
        }
      }

      &:nth-child(2n) {
        .link {
          transform: translateZ(-600px);
        }
      }

      &:nth-child(3n) {
        .link {
          transform: translateZ(-400px);
        }
      }

      &:nth-child(4n) {
        .link {
          transform: translateZ(-150px);
        }
      }

      &:nth-child(5n) {
        .link {
          transform: translateZ(-300px);
        }
      }

      &:nth-child(6n) {
        .link {
          transform: translateZ(-250px);
        }
      }

      &:nth-child(7n) {
        .link {
          transform: translateZ(-150px);
        }
      }

      &:nth-child(8n) {
        .link {
          transform: translateZ(-100px);
        }
      }
    }
  }
}

.footer {
  @apply grid items-center justify-items-center p-16 gap-16;
}
