.container {
  align-items: end;
  background-color: theme(backgroundColor.black);
  /* background-image: url("/images/textures/pink.png"); */
  display: grid;
  min-block-size: 100%;
  padding: theme(padding.8);
}

.information {
  display: grid;
  justify-items: center;
  position: relative;
  z-index: theme(zIndex.20);

  & .logotype {
    margin-block-end: 1rem;
    inline-size: 80%;
    position: relative;
    display: none;
  }

  & .title {
    background-clip: text;
    background-color: #ffffff;
    color: transparent;
    filter: drop-shadow(0rem 0rem 0.1rem theme(colors.black));
    font-family: "Bomber Escort Outline", cursive;
    font-size: clamp(1.5rem, 10vw, 10rem);
    font-style: italic;
    padding: 2rem;
    text-shadow: -0.2rem 0.2rem 0.2rem rgb(0 0 0 / 20%);
  }

  & .signupForm {
    /* filter: invert(1); */
    inline-size: max(30%, 20rem);
    z-index: theme(zIndex.10);
  }

  & .copy {
    display: none;
  }
}

/* .titleContainer {
  column-gap: 8rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100dvh;
  overflow: visible;
  transform: rotateZ(15deg);
  width: 100dvw;
} */

.title {
  background-color: theme(backgroundColor.white);
  font-family: "Bomber Escort";
  /* filter: opacity(0.5); */
  font-size: 17.5vw;
  line-height: 1;
  position: relative;
  text-align: center;
  /* transform: translate(-20rem, -20rem); */
  z-index: theme(zIndex.0);
}

.background {
  display: grid;
  /* filter: opacity(0.25); */
  grid-auto-flow: column;
  gap: theme(gap.16);
  inset: theme(inset.16);
  mix-blend-mode: multiply;
  position: absolute;
  z-index: theme(zIndex.10);

  & .figure {
    &:nth-of-type(1) {
      & .image {
        object-position: left center;
      }
    }

    &:nth-of-type(2) {
      display: none;

      @screen lg {
        display: unset;
      }
    }

    &:nth-of-type(3) {
      display: none;

      & .image {
        object-position: left center;
      }

      @screen xl {
        display: unset;
      }
    }

    & .image {
      block-size: 100%;
      max-block-size: 100dvh;
      object-fit: cover;
      object-position: bottom;
    }
  }
}
