.container {
  background-color: theme(backgroundColor.black);
  /* background-image: url("/images/textures/abstract009.jpg"); */
  background-size: 50%;
  display: grid;
  min-block-size: 100%;
  padding: theme(padding.8);

  @media landscape {
    align-items: end;
  }
}

.information {
  display: grid;
  justify-items: center;
  position: relative;
  z-index: theme(zIndex.30);

  & .logotype {
    margin-block-end: 1rem;
    inline-size: 80%;
    position: relative;
    display: none;
  }

  & .title {
    background-clip: text;
    background-color: #ffffff;
    color: transparent;
    filter: drop-shadow(0rem 0rem 0.1rem theme(colors.black));
    font-family: "Bomber Escort Outline", cursive;
    font-size: clamp(1.5rem, 10vw, 10rem);
    font-style: italic;
    padding: 2rem;
    text-shadow: -0.2rem 0.2rem 0.2rem rgb(0 0 0 / 20%);
  }

  & .signupForm {
    inline-size: max(30%, 20rem);
    z-index: theme(zIndex.10);
  }

  & .copy {
    display: none;
  }
}

.title {
  background-color: theme(backgroundColor.white);
  background-repeat: repeat;
  background-size: 100%;
  font-family: "Bomber Escort";
  font-size: 17.5vw;
  text-align: center;
  z-index: theme(zIndex.20);
}

.background {
  animation-duration: 90s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  display: grid;
  grid-auto-flow: column;
  gap: theme(gap.16);
  inset-block: theme(inset.0);
  inset-inline-start: theme(inset.0);
  padding: theme(padding.16);
  padding-block-end: theme(padding.40);
  position: fixed;
  z-index: theme(zIndex.10);

  @screen landscape {
    animation-name: move-bg-landscape;
    inline-size: 200dvw;
  }

  @screen portrait {
    animation-name: move-bg-portrait;
    inline-size: 600dvw;
  }

  & .figure {
    position: relative;
    /* 
    &:nth-of-type(1) {
      transform: translateZ(200px);
    }
    */

    & .image {
      object-fit: contain;
      object-position: bottom;
    }
  }
}

@keyframes move-bg-landscape {
  0% {
    inset-inline-start: theme(inset.0);
  }
  100% {
    inset-inline-start: calc(theme(inset.8) - 100dvw);
  }
}

@keyframes move-bg-portrait {
  0% {
    inset-inline-start: theme(inset.0);
  }
  100% {
    inset-inline-start: calc(theme(inset.8) - 300dvw);
  }
}
