.root {
  @apply bg-base-100 text-base-content border-base-content border-solid border-2 fixed bottom-3 left-3 right-3 p-4 grid gap-x-4 items-center justify-between;
    grid-template-columns: auto auto;
}

/* .logo {
  align-self: start;
} */

.closeButton {
  /* @apply relative -right-4; */
  justify-self: end;
}

.about {
  @apply prose;
}

.information {
  @apply col-span-full;

  .toggle {
    @apply w-full min-h-fit;
  }

  :global(.collapse-title) {
    @apply p-0 pb-4 min-h-fit;
  }

  :global(.collapse-content) {
    @apply p-0;
  }
}

.tableContainer {
  .table {
    @apply mb-4;
  }
}

.buttonGroup {
  justify-self: end;
}