.root {
  .details {
    @apply grid sticky divide-y mb-8;
    padding-inline: var(--viewport-margin-inline);
    top: 0;

    @media screen and (min-width: theme(screens.md.min)) {
      @apply pb-16 pt-24;
    }

    @media screen and (min-width: theme(screens.lg.min)) {
      @apply pb-24 pt-44;
    }

    .header {
      @apply grid grid-flow-col gap-4 items-center justify-between py-4 px-4;
      grid-template-areas:
        "collectionLink collectionLink"
        "title price";

      .collectionLink {
        grid-area: collectionLink;
      }

      .title {
        font-weight: 400;
        grid-area: title;
      }

      .price {
        grid-area: price;
      }
    }

    .section {
      @apply prose prose-xs max-w-none;

      &.sectionActions {
        @apply grid align-middle grid-flow-col justify-between gap-8 px-4 py-6;
      }

      &.sectionDescription {
        @apply px-4 py-6 text-justify;
      }

      &.sectionColorAndComposition {
        :global(.collapse-content) {
          @apply gap-4 grid grid-cols-2;

          .effectFabricSample {
            > img {
              margin-block: unset !important;
            }
          }
        }
      }

      &.sectionComplementaryProducts {
        :global(.collapse-content) {
          @apply gap-4 grid grid-cols-2;
        }
      }

      > input[type="checkbox"] {
        width: 100%;
      }
    }
  }
}