@layer base {
  html {
    -webkit-font-smoothing: antialiased;
    font-feature-settings: normal;
    text-rendering: optimizeLegibility;
    text-underline-offset: theme(textUnderlineOffset.4);
  }

  :is(.heading1, .heading2, .heading3, .heading4) {
    font-family: var(--font-serif);
    font-weight: theme(fontWeight.medium);
    line-height: theme(lineHeight.tight);
  }

  @font-face {
    font-family: "Bomber Escort";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/bomber-escort/bomberescort.ttf) format("ttf");
  }

  @font-face {
    font-family: "Bomber Escort";
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/bomber-escort/bomberescortital.ttf) format("ttf");
  }

  @font-face {
    font-family: "Bomber Escort Outline";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/bomber-escort/bomberescortout.ttf) format("ttf");
  }

  @font-face {
    font-family: "Bomber Escort Outline";
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/bomber-escort/bomberescortoutital.ttf) format("ttf");
  }
}
