@layer base {
  html {
    @apply underline-offset-4;
    -webkit-font-smoothing: antialiased;
    font-feature-settings: normal;
    text-rendering: optimizeLegibility;
  }

  /* h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-serif);
  } */

  .body {
    /* @apply leading-normal text-base; */
    /* @apply text-base; */
    font-family: var(--font-text);
    font-family: var(--font-montserrat);
    /* font-size: 16px; */
    /* line-height: 1.5; */
  }

  .caption {
    /* @apply leading-none text-xs; */
    @apply text-xs;
    font-family: var(--font-text);
    /* font-size: 12px; */
    /* line-height: 1; */
  }

  .category {
    @apply leading-tight text-sm tracking-widest;
    font-family: var(--font-sans);
    /* font-size: 13px; */
    font-weight: bold;
    /* letter-spacing: 0.75px; */
    /* line-height: 1.15; */

    @media screen and (max-width: theme(screens.md.max)) {
      @apply text-xs tracking-tight;
    }
  }

  .cta {
    @apply text-xs tracking-widest;

    border-block-end-color: inherit;
    border-block-end-style: solid;
    border-block-end-width: 1px;
    display: inline-block;
    font-family: var(--font-sans);
    /* font-size: 11px; */
    font-weight: bold;
    /* letter-spacing: 1.75px; */
    padding-block-end: 0.1875rem;
    text-transform: uppercase;
  }

  .heading1 {
    @apply font-medium leading-tighter text-6xl;
    font-family: var(--font-serif);
    /* font-size: 58px; */
    /* font-weight: 500; */
    /* line-height: 1.07; */

    @media screen and (max-width: theme(screens.md.max)) {
      @apply text-3xl;
      /* font-size: 30px; */
    }
  }

  .heading2 {
    @apply font-medium leading-tighter text-4xl;
    font-family: var(--font-serif);
    /* font-size: 36px; */
    /* font-weight: 500; */
    /* line-height: 1.17; */

    @media screen and (max-width: theme(screens.md.max)) {
      @apply text-3xl;
      /* font-size: 30px; */
    }
  }

  .link {
    @apply leading-tight text-xs tracking-widest;
    /* font-family: var(--font-sans); */
    /* font-size: 11px; */
    /* letter-spacing: 1.75px; */
    /* line-height: 14px; */
    text-transform: uppercase;
  }

  .paragraph {
    @apply leading-normal text-xl;

    font-family: var(--font-text);
    /* font-size: 1.25rem; */
    /* line-height: 1.5; */

    @media screen and (max-width: theme(screens.md.max)) {
      @apply text-2xl text-base;
      /* font-size: 16px; */
      /* line-height: 22px; */
    }
  }
}
