.form {
  grid-template-columns: 1fr 4fr 1fr;

  &.valid {
    & :is(button, input, select, textarea) {
      opacity: 0;
      pointer-events: none;
    }
  }
}

.field {
  display: grid;
  gap: theme(gap[0.5]);
}

.output {
  align-items: start;
  background-color: theme(backgroundColor.black);
  display: grid;
  font-size: theme(fontSize.base);
  gap: 1rem;
  grid-column: -1/1;
  inset: 0;
  justify-items: center;
  position: fixed;
  text-align: center;
  text-transform: lowercase;
  transition-duration: theme(transitionDuration.150);
  transition-property: background-color, opacity;
  transition-timing-function: theme(transitionTimingFunction.in-out);
  z-index: theme(zIndex.30);

  @screen md {
    font-size: theme(fontSize.4xl);
  }

  & .container {
    display: grid;
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.2));
    inline-size: min(30rem, 50%);
    padding: theme(padding.4);
    position: relative;
    z-index: theme(zIndex.20);
  }

  & .figure {
    inset: theme(inset.0);
    position: absolute;
    z-index: theme(zIndex.10);

    & .image {
      object-fit: cover;
      object-position: top;
    }
  }

  & .title {
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.2));
    font-family: var(--font-bomber-escort-outline-italic);
    font-size: theme(fontSize.7xl);
    font-style: italic;
    line-height: theme(lineHeight.none);
    text-align: center;
    z-index: theme(zIndex.20);
  }

  & p {
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.2));
    font-family: var(--font-bomber-escort);
  }
}
