.root {
  @apply grid items-center justify-items-center;
  grid-template-areas: "logotypeLink" "figure" "cta";
  grid-template-rows: var(--viewport-margin-block) auto var(--viewport-margin-block);

  .figure {
    @apply aspect-2/1 relative h-full sm:min-w-[80vw] max-w-full overflow-hidden;
    grid-area: figure;

    .link {
      @apply block relative h-full w-full;

      .image {
        @apply object-cover sm:object-contain object-top;
      }
    }
  }

  .cta {
    grid-area: cta;
  }
}
