.container {
  background-image: url(/images/art/background.jpg);
  background-position: center;
  background-size: contain;
  display: grid;
  height: 100%;
  place-content: center;
}

.logotype {
  block-size: 50vh;
  inline-size: 80vw;
  min-inline-size: 50vw;
  position: relative;
}

.title {
  background-clip: text;
  background-color: #ffffff;
  color: transparent;
  filter: drop-shadow(0rem 0rem 0.1rem black);
  font-family: 'Bomber Escort Outline', cursive;
  font-size: clamp(1.5rem, 40vw, 10rem); 
  font-style: italic;
  /* max-inline-size: 50vw; */
  padding: 2rem;
  text-shadow: -0.2rem 0.2rem 0.4rem rgb(0 0 0 / 40%);
}

.copy {
  display: none;
}