.root {
  @apply grid items-center justify-items-center py-8 gap-8;
  grid-template-rows: max(5vh, 2vw) auto max(5vh, 2vw);
  gap: 2vw;
  padding-block: 2vw;

  .logotypeLink {
    @apply relative h-full w-full max-w-[50%];
  }

  .figure {
    @apply aspect-2/1 relative h-full overflow-hidden;
    min-width: 60vw;

    .link {
      @apply block relative h-full w-full;

      .image {
        @apply object-contain;
      }

      /* .figcaption {
        @apply absolute bg-contain p-24;
        font-size: clamp(1.5rem, 20vh, 15rem);
        inset: 0;
      } */
    }
  }
}
