.section {
  @apply prose prose-xs max-w-none py-6 grid;

  &.sectionOptions {
    @apply gap-8;

    .inputGroupContainer {
      .title {
        @apply px-4;
      }

      .inputGroup {
        @apply flex-wrap input-group mt-1 w-full;
        
        &Grid {
          @apply grid grid-cols-2 justify-items-start input-group mt-1 w-full;

          @media screen and (min-width: theme(screens.md.min)) {
            @apply grid-cols-3 justify-end;
          }  
        }

        .label {
          .labelText,
          .radioContainer {
            --tw-bg-opacity: 0;
          }
  
          .labelText {
            @apply pl-0;
          }
  
          .radioContainer {
            @apply block;
            order: -1;
          }
  
          &:has(input:checked) {
            .labelText {
              @apply underline underline-offset-4;
            }
          }
        }
      }
    }
  }

  &.sectionActions {
    @apply grid gap-4 px-4;

    /* @media screen and (max-width: theme(screens.xs.max)) {
      @apply btn-sm;
    } */

    @media screen and (min-width: theme(screens.md.min)) {
      @apply grid-cols-2;

      .divider {
        @apply col-span-full;
      }
    }
  }

  &.sectionActions1 {
    @apply grid grid-cols-2 gap-8 px-4;
  }

  &.sectionActions2 {
    @apply grid gap-8 px-4;
    grid-template-columns: 1fr auto;
  }
}
